<h2> Works Cited </h2>
<ul>
  <li> <%= link_to 'Carbon Emissions by diet types', 'http://shrinkthatfootprint.com/food-carbon-footprint-diet' %> </li> <br>

  <li> <%= link_to 'Health impact of a vegan diet', 'https://www.medicaldaily.com/vegan-vs-vegetarian-diets-how-each-will-impact-your-health-329300' %> </li> <br>

  <li> <%= link_to 'Health impact of an omnivores diet', 'https://nutritionfacts.org/topics/omnivores/' %> </li> <br>

  <li> <%= link_to 'Vegeterian and Vegan nutrition information', 'https://www.medicalnewstoday.com/articles/325478.php#risks-and-considerations' %> </li> <br>

  <li> <%= link_to 'More information on vegeterian nutrition', 'https://www.eatrightpro.org/-/media/eatrightpro-files/practice/position-and-practice-papers/position-papers/vegetarian-diet.pdf' %> </li> <br>

  <li> <%= link_to 'Pollotarian nutrition information', 'https://www.femina.in/wellness/diet/the-benefits-of-the-pollotarian-diet-134343.html' %> and

    <%= link_to  'https://www.healthline.com/nutrition/pollotarian#basics' %> </li> <br>

    <li> <%= link_to 'Average American nutrition information', 'https://www.crnusa.org/resources/americans-do-not-get-all-nutrients-they-need-food' %> </li> <br>

    <li> <%= link_to 'Pollotarian nutrition information', 'https://www.femina.in/wellness/diet/the-benefits-of-the-pollotarian-diet-134343.html' %> </li> <br>

    <li> <%= link_to 'Footprints of different diets compared', 'https://www.bbc.com/news/science-environment-46459714' %> </li> <br>
  </ul>
